*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* body{
    background-color: black;
} */
header{
    padding:15px; 
    display: flex;
    align-items: center;
    background-color:black;  
}
img{
    max-width: 6%;
    /* margin-left: */
    /* margin-bottom:50px; */
}
.lup{
    width:2%;
}
.imgsin{
    width:2%;
}
a{
    display:flex;
    /* justify-content:space-between; */
    text-decoration: none;
}
.divnav{
    /* width:90%; */
    display: flex;
    
    align-items: center;
    /* margin-bottom:10px; */
    /* padding-bottom:20px; */

}
ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    /* padding:50px; */
}
.link{
    margin:20px;
    color: white;
}
