*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* body{
    background-color: black;
} */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:black;  
}
.logo{
    width: 10%;
}
.lup{
    width:30px;
}
.imgsin{
    width:30px;
}
a{
    text-decoration: none;
}
nav{
    list-style:none;
    display: flex;
    
}
.divinteracao{
    display: flex;
    border: solid 2px white;

}
.divnav{
    width:70vw;
    display: flex;

}
.p{
    /* display:flex; */
    font-size: 40px;
    transform: rotate(90deg);
    color: white;
}
p{
    color: white;
}
.divinfo{
    display:flex;
}
ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    /* padding:50px; */
}
.link{
    margin:20px;
    color: white;
}
input{
    display:none;
    border:none;
    outline: none;
    background:black;
}
.secimg{
    width:100%;
    height: 90vh;
    background-image: url("it.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    position: absolute;
}
.button{
    width:200px;
    height:100px;
    font-size: 20px;
    position: relative;
    top: 300px;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.068);
}
.perfil{
    width: 30px;
}